## More challenges

### Basic Python types

* Check the value and the type of the output for the following Python statements:

 * 1 + 4
 * 6*3
 * 5-9
 * 42/7
 * 42/9
 * 42//9
 * 42//9.0
 * 42 % 9
 * 2**3

In [10]:
4 + 1, type(4+1)

(5, int)

In [11]:
6*3, type(6*3)

(18, int)

In [12]:
5-9, type(5-9)

(-4, int)

In [13]:
42/7, type(42/7)

(6.0, float)

In [14]:
42/9, type(42/9)

(4.666666666666667, float)

In [15]:
42//9

4

In [16]:
42//9.0

4.0

* What is the difference between 42/9, 42//9, and 42.0//9?

* Create and show a Python list containing the days of the week as strings

In [25]:
days_week_lst = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
days_week_lst

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

* Create a dictionary where the keys are the numbers from 1 to 7 and the values are the days of the week

In [24]:
days_week_dict = {1: "Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday", 7: "Sunday"}
days_week_dict

{1: 'Monday',
 2: 'Tuesday',
 3: 'Wednesday',
 4: 'Thursday',
 5: 'Friday',
 6: 'Saturday',
 7: 'Sunday'}

### Modules

* Import the ``math`` module

In [1]:
import math

* Compute the square root of 42 and the cosine of pi/3

In [3]:
math.sqrt(42), math.cos(math.pi/3)

(6.48074069840786, 0.5000000000000001)

* Import the ``os`` module

In [4]:
import os

* Check the content of a folder using the ``listdir`` function

In [5]:
os.listdir()

['more_challenges.ipynb',
 '01_jupyter_bpk1.ipynb',
 '01_jupyter_conda.ipynb',
 '01_jupyter.ipynb',
 'more_challenges_solution.ipynb',
 'img',
 '.ipynb_checkpoints',
 '01_jupyter_bkp.ipynb',
 'example_notebook.ipynb']

### Control Flow

 Create a list called ``num_squared`` containing the square of the numbers from 1 to 100

In [3]:
num_squared = [num**2 for num in range(101)]

* What is the length of ``num_square``?

In [4]:
N = len(num_squared)
N

101

* Print the first 10 numbers in ``num_squared``

In [26]:
for num in num_squared[:10]:
    print(num)

0
1
4
9
16
25
36
49
64
81

* Print all the numbers in ``num_squared`` which are divisible by 10

In [22]:
for num in num_squared:
    if num % 10 == 0:
        print(num)

0
100
400
900
1600
2500
3600
4900
6400
8100

* Count all the numbers in ``num_squared`` whose last digit is 5

In [35]:
cnt = 0
for num in num_squared:
    if num % 10 == 5:
        #print(num)
        cnt += 1
print(cnt)

10

* Compute the sum of all the numbers in ``num_square`` and the mean

In [40]:
sum_val = 0.0
for num in num_squared:
    sum_val += num 
avg_val = sum_val/len(num_squared)
print(sum_val, avg_val)

328350.0 3283.5

In [46]:
#sum(num_squared) # a concise alternative!